.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 40px;
    gap: 10px;
    width: 100%;
}
.itemIcone{
    align-items: center;
    background-color:blueviolet;
    
    
    
}
